---

http:
  routers:
    svelte:
      rule: Host(`{{inventory_hostname}}.local`) || Host(`{{inventory_hostname}}`)
      service: svelte
      entryPoints:
        - web

  service:
    svelte:
      loadBalancer:
        servers:
          - url: "http://zaci-localhost:3000"
