# -*- mode: yaml -*-
---
http:
  routers:
    svelte:
      rule: Host(`{{inventory_hostname}}.local`) || Host(`{{inventory_hostname}}`)
      service: svelte
      entrypoints:
        - web

  services:
    svelte:
      loadbalancer:
        servers:
          - url: "http://vertigo-localhost:3000"
        healthcheck:
          path: /
          port: 3000
