\documentclass{article}
\usepackage{tikz}
\usetickzlibrary{positioning}
\pagestyle{empty}
\usepackage[active,tightpage]{preview}
\PreviewEnvironment[]{tikzpicture}
\PreviewEnvironment[]{tabular}
\begin{document}
%%content%%
\end{document}
