[Unit]
Description=Runs on demand recording of the VerTIGo camera
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=60
StartLimitBurst=5


[Service]
StandardOutput=journal
StandardError=journal
Type=simple
TimeoutStartSec=0
ExecStart=/usr/local/bin/vertigo-camera-service.sh
Restart=always

[Install]
WantedBy=default.target
